@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

$Very_dark_cyan: hsl(183, 100%, 15%);
$Dark_grayish_cyan: hsl(186, 14%, 43%);
$Grayish_cyan: hsl(184, 14%, 56%);
$Light_grayish_cyan: hsl(185, 41%, 84%);
$Very_light_grayish_cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);
$Dark_cyan: #36d1b9;

body {
  background: hsl(185, 41%, 84%);
  font-family: Space Mono;
  font-weight: 700;
}
.wrapper {
  border-radius: 30px;
}
.right-div {
  background: $Very_dark_cyan;
  border-radius: 1rem;
  color: $White;
  height: 100%;
}
.total-text > div:nth-child(1) {
  color: $Very_light_grayish_cyan;
}
.total-text > div:nth-child(2) {
  color: $Light_grayish_cyan;
  font-size: 12px;
}
.amount {
  font-size: 35px;
  color: $Dark_cyan;
}
.reset,
.calculate {
  // position: absolute;
  // bottom: 20px;

  width: 100%;
  border-radius: 7px;
  border: none;
  padding: 10px;
  font-weight: 700;
  margin-top: 30px;
  background: $Dark_cyan;
  color: $Very_dark_cyan;
  &:hover {
    background: $Light_grayish_cyan;
    transition: 0.3s;
  }
}

.people-input,
.bill-input,
.tip-input {
  background-color: $Very_light_grayish_cyan;
  color: $Very_dark_cyan;
  border: none;
  font-size: 22px;
  font-weight: 700;
  &:focus {
    border-color: $Dark_cyan;
    box-shadow: 0 0 0 0.2rem $Dark_cyan;
  }
}

.icon {
  background: $Very_light_grayish_cyan;
  border: none;
}
.label {
  color: $Dark_grayish_cyan;
}
.logo {
  letter-spacing: 10px;
  margin: 3rem;
  font-size: 25px;
  color: $Very_dark_cyan;
}
// to remove input number arrow
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 576px) {
  .main {
    padding: 0 !important;
  }
  .wrapper {
    border-radius: 30px 30px 0 0;
    padding: 22px !important;
    padding-bottom: 40px !important;
  }
  .right-div {
    margin-top: 1rem;
  }
}
